.swiftpm/xcode/xcuserdata
.swiftpm/xcode/package.xcworkspace/xcuserdata
BoostKYC_DemoApp/BoostKYC_DemoApp.xcodeproj/xcuserdata
BoostKYC_DemoApp/BoostKYC_DemoApp.xcodeproj/project.xcworkspace/xcuserdata
